@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-img img {
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card-body h2 {
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: normal;
}

.card-body p {
  margin: 0;
}

.card {
  margin-top: .75em;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 25em) {

  .card-body {
    display: inline-block;
    width: 320px;
    margin-bottom: 1.6em;
  }

  .card-img {
    display: inline-block;
  }

  .card {
    margin: 0;
  }

  .card-body h2 {
    margin: 0;
    margin-left: .5em;
  }

  .card-body p {
    margin-left: .75em;
  }
}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.4;
    font-size: 110%;
  }

  .card {
    display: inline-block;
    width: 32%;
  }

  .card-img {
    display: block;
  }

  .card-body {
    width: 100%;
    margin-top: 1em;
  }

  .card-body h2 {
    margin: 0;
  }

  .card-body p {
    margin: 0;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }
}
